@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
   color: unset;
}

html{
   font-family: 'Montserrat', sans-serif;
   color: white;
   height: 100vh;
}

img{
   display: block;
   border-radius: 5px;
}


.text-align{
   text-align: center;
}

.flex{
   display: flex;
}

.flex-col{
   display: flex;
   flex-direction: column;
}

.wrap{
   flex-wrap: wrap;
}

.justify-center{
   justify-content: center;
}

.justify-end{
   justify-content: flex-end;
}

.justify-start{
   justify-content: flex-start;
}

.space-bet{
   justify-content: space-between;
}

.space-around{
   justify-content: space-around;
}

.align-center{
   align-items: center;
}

.align-start{
   align-items: flex-start;
}

.flex-grow{
   flex-grow: 1;
}

#app-container{
   height: 100vh;
   width: 100%;
   overflow-y: hidden;
}

main{
   height: 100%;
   width: 100%;
   background-color: #141922;
   padding: 0 0 60px 0;
}

footer{
   width: 100%;
   padding: 12px;
   background-color: #282828;
   position: sticky;
   bottom: 0;
   z-index: 3;
}

header{
   width: 100%;
   height: 75px;
   right: 0;
   top: 0;
   position: sticky;
   z-index: 1;
   background-color: rgba(0, 0, 0, 0.3);
   padding: 20px;
}

.upgrade{
   background-color: rgba(0, 0, 0, 0.3);
   padding: 10px 25px;
   color: white;
   border: 1px solid white;
   border-radius: 25px;
   font-size: 0.7rem;
   font-weight: 600;
   cursor: pointer;
}

.upgrade:hover{
   padding: 13px 30px;
   background-color: rgba(30, 215, 96, 1);
   border: 1px solid black;
   color: black;
}

.sidebar{
   padding: 7px 10px 35px 10px;
   position: relative;
   height: 100%;
   z-index: 2;
   background-color: black;
   /* height: 100%; */
   overflow-y: auto;
   overflow-x: hidden;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
   display: none;
}

.playlists h3{
   margin: 30px 0 15px 0;
}

.fa-plus{
   background-color: #999999;
   color: white;
   padding: 8px 10px;
   border-radius: 3px;
   margin-right: 8px;
   margin-bottom: 10px;
}

.playlist:hover .fa-plus{
   background-color: white;
   color: #999999;
}

.playlist{
   color: #999999;
   line-height: 1.8rem;
   cursor: pointer;
}

.playlists{
   display: none;
   font-size: 0.9rem;
}

.line{
   border-top: 1px solid #999999;
   margin: 10px -58px 5px 0;
   display: none;
}

.section{
   margin: 0 0 30px 0;
}

.item{
   margin-top: 10px;
}

.item span{
   display: none;
   margin-left: 10px;
   color: #999999;
}

.logo-small, .ico{
   width: 30px;
}

.profile{
   background-color: #999999;
   border-radius: 50%;
   width: 30px;
   height: 30px;
}

.logo{
   width: 140px;
   display: none;
}

.tracks-container{
   width: 100%;
   overflow-y: auto;
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.tracks-container::-webkit-scrollbar {
   display: none;
}
 

.section-subtitle{
   margin:  10px;
   margin-left: 0;
   display: inline-block;
   font-size: 0.8rem;
   color: rgba(255, 255, 255, 0.4);
}

.tracks-container h2{
   margin-top: 20px;
}

.category{
   display: inline-block;
   font-size: 0.8rem;
   font-weight: 600;
   margin: 15px 6px 5px 6px;
   color: #999999;
   cursor: pointer;
}

.category:hover{
   color: white;
}

.green-line, .green-lines{
   border-top: 2px solid #1ED760;
   border-radius: 2px;
   width: 70%;
   margin: 0 auto;
}

.green-lines{
   display: none;
}

.best{
   color: white;
}

.category:hover .green-lines{
   display: block;
}

.albums{
   width: 95%;
   margin: 0 auto;
}

.card{
   width: calc(95%/2);
   margin-top: 15px;
}

.card img{
   width: 100%;
}

.card h3{
   margin: 20px 0 10px 0;
   font-weight: 600;
   font-size: 1.1rem;
   cursor: pointer;
}

.fa-circle-play-hover{
   font-size: 3.5rem;
   position: absolute;
   top: 50%; 
   left: 50%;
   transform: translate(-50%, -50%);
   display: none;
}

.play-hover{
   position: relative;
   cursor: pointer;
}

.play-hover:hover img{
   filter: opacity(0.4);
   box-shadow: 6px 6px 15px 10px rgba(0,0,0,0.88);
}

.play-hover:hover .fa-circle-play-hover{
   display: block;
}

.subtitle{
   font-size: 0.8rem;
   margin-bottom: 10px;
   color: #999999;
   cursor: pointer;
}

.subtitle:hover{
   color: white;
}

.profiles{
   border-radius: 50%;
}

.song-container img{
   width: 50px;
}

.title-song{
   font-size: 0.7rem;
   margin: 0 7px;
   color: #999999;
   cursor: pointer;
}

.title-song:hover{
   color: white;
}

.artist{
   font-size: 0.8rem;
   margin: 3px 7px;
   color: white;
   font-weight: 600;
   cursor: pointer;
}

.fa-heart, .fa-folder{
   color: #999999;
   font-size: 0.8rem;
   margin-top: 3px;
   cursor: pointer;
}

.fa-heart:hover{
   color:rgb(30, 215, 96);
}

.fa-folder:hover{
   color: white;
}

.song-player{
   width: 100%;
   padding-left: 30px;
}

.player i{
   margin: 5px 10px;
   font-size: 0.9rem;
   cursor: pointer;
   color: #999999;
}

.player i:hover{
   color: white;
}

.player .fa-circle-play{
   font-size: 1.1rem;
   padding-bottom: 5px;
   color: white;
}

.seconds{
   font-size: 0.8rem;
   color: #999999;
}

.timing{
   border-top: 5px solid #999999;
   border-radius: 5px;
   width: 100%;
   margin: 0 10px;
   position: relative;
   cursor: pointer;
}

.white-bar{
   border-top: 5px solid white;
   border-radius: 5px; 
   position: relative;
   position: absolute;
   z-index: 4;
   top: -5px;
   left: 0px;
   right: 80%;
}

.dot{
   position: absolute;
   height: 12px;
   width: 12px;
   top: -9px;
   right: 0;
   background-color: white;
   border-radius: 50%;
   display: none;
}

.timing:hover .white-bar{
   border-color: #1ED760;
}

.timing:hover .dot{
   display: block;
}

.utility i{
   margin: 0 5px;
   cursor: pointer;
   color: #999999;
}

.utility i:hover{
   color: white;
}

.utility .timing{
   width: 75px;
}

.sidebar div :hover {
   color: white;
   cursor: pointer;
}

.utility{
   display: none;
}


@media (min-width: 1px) and (max-width: 320px){
   .song-player{
      padding-left: 10px;
   }

   .player i{
      margin: 0px 10px;
      font-size: 0.7rem;
   }
   
   .player .fa-circle-play{
      font-size: 0.9rem;
   }

   .song-container img{
      width: 40px;
      height: 40px;
   }

   .category{
      font-size: 0.7rem;
   }
}



@media (min-width: 601px) and (max-width: 700px){
   .sidebar{
      padding: 20px 77px 35px 20px;
   }

   .logo{
      display: block;
      margin-bottom: 30px;
   }

   .logo-small{
      display: none;
   }

   .ico{
      width: 25px;
   }

   .playlists{
      display: contents;
   }

   .line{
      display: block;
   }

   .profile{
      background-color: #999999;
      width: 30px;
      height: 30px;
   }

   .item span{
      display: block;
      font-size: 0.9rem;
   }

   .utility{
      display: none;
   }

   .player i{
      margin: 5px 20px;
      flex-basis: 35%;
      font-size: 1.1rem;
   }
   
   .player .fa-circle-play{
      font-size: 1.8rem;
   }
}

@media (min-width: 701px) and (max-width: 1100px){
   .sidebar{
      padding: 20px 77px 35px 20px;
   }

   .logo{
      display: block;
      margin-bottom: 30px;
   }

   .logo-small{
      display: none;
   }

   .playlists{
      display: contents;
   }

   .line{
      display: block;
   }

   .recently-played-albums, .for-you-albums, .best-singer{
      justify-content: flex-start;
   }

   .card{
      width: calc(100%/4);
      padding: 7px;
   }

   .ico{
      width: 25px;
   }

   .profile{
      background-color: #999999;
      width: 30px;
      height: 30px;
   }

   .item span{
      display: inline-block;
      font-size: 0.9rem;
   }

   .tracks-container h2{
      margin-left: 10px;
   }

   .section-subtitle{
      margin-left: 10px;
   }

   .utility{
      display: flex;
   }

   .song-player{
      width: 50%;
   }

   .player i{
      margin: 5px 20px;
      flex-basis: 35%;
      font-size: 1.1rem;
   }
   
   .player .fa-circle-play{
      font-size: 1.8rem;
   }

}

@media (min-width: 1101px){
   .sidebar{
      padding: 20px 77px 35px 20px;
   }

   .logo{
      display: inline-block;
      margin-bottom: 30px;
   }

   .logo-small{
      display: none;
   }

   .playlists{
      display: contents;
   }

   .line{
      display: block;
   }

   .recently-played-albums, .for-you-albums, .best-singer{
      justify-content: flex-start;
   }

   .card{
      width: calc(100%/6);
      padding: 5px;
   }

   .ico{
      width: 25px;
   }

   .profile{
      background-color: #999999;
      width: 30px;
      height: 30px;
   }

   .item span{
      display: inline-block;
      font-size: 0.9rem;
   }

   .tracks-container h2{
      margin-left: 15px;
   }

   .section-subtitle{
      margin-left: 15px;
   }

   .utility{
      display: flex;
   }

   .song-player{
      width: 50%;
   }

   .player i{
      margin: 5px 20px;
      flex-basis: 35%;
      font-size: 1.1rem;
   }
   
   .player .fa-circle-play{
      font-size: 1.8rem;
   }

}