*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.flex{
   display: flex;
}

.wrap{
   flex-wrap: wrap;
}

.justify-center{
   justify-content: center;
}

.space-bet{
   justify-content: space-between;
}

.space-around{
   justify-content: space-around;
}

#app-container{
   height: 100vh;
   width: 100%;
}

main{
   height: 90%;
   width: 100%;
   background-color: #141922;
}

footer{
   height: 10%;
   width: 100%;
   background-color: #282828;
}

.sidebar{
   position: relative;
   background-color: black;
}

.tracks-container{
   padding-top: 80px;
   width: 100%;
   overflow-y: scroll;
}

.sidebar i{
   color: white;
   padding: 10px 7px;
}

.categories{
   width: 100%;
   margin-bottom: 50px;
   background-color: antiquewhite;
}

.albums{
   width: 90%;
   margin: 0 auto;
}

.card{
   width: calc(95%/2);
}

.card img{
   width: 100%;
}